*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-search{
    margin: 8px;
    padding: 8px;
}
.card-result{
    margin: 8px;
    padding: 8px;
    background-color: rgb(255);
    display: flex; 
    flex-direction: column;
}